.App {
  text-align: center;
}
a {
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.myHeader {
  color: white;
  font-size: 20px;
}

.custom-menu {
  cursor: pointer;

}

.custom-img {
  background-color: transparent;
  width: 2.5rem;
  padding: 6px;
}
.custom-img:hover {
  background-color: rgb(162, 162, 162);
  border-radius: 10px;
}

.myHeader img {
  width: 50px;
  background-color: black;
  white-space: nowrap;
}
.myHeader:hover {
  color: #E5E5E5;

}


.navbar-item:hover {
  background-color: grey;
  border-radius: 6px;
}

.btn-custom {
  border: 2px solid black;

}
.btn-custom:hover {
  background-color: grey;
  transition: all .3s ease-in-out;

}

a:hover {
  color: gainsboro;
}

.menu-item {
  color: rgb(139, 138, 138);
}


.my-text {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
}

.header-bg {
  background-color: #E5E5E5;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
