.carousel {
  overflow: hidden;
  height: 600px;
  aspect-ratio: 16/9;
}

.inner {
white-space: nowrap;
transition: transform 1s;
}

.indicators {
  display: flex;
  justify-content: center;
}
.indicators > button {
  margin: 5px;
}
.indicators > button.active {
  background-color: green;
  color: #fff;
}

.carousel-i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #fff;
  pointer-events:none;
}
