.carousel {
  overflow: hidden;
}

.inner {
white-space: nowrap;
transition: transform 1s;
}

.cust-img::after {
  content: url("../public/img/right_arrow.png")

}


.indicators {
  display: flex;
  justify-content: center;
}
.indicators > button {
  margin: 5px;
}
.indicators > button.active {
  background-color: green;
  color: #fff;
}

.carousel-i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #fff;
  pointer-events:none;
}
